<h1>Discounts Index Page</h1>

<% @merchant.discounts.each do |discount| %>
<div id="discount-<%= discount.id %>">
<b><p>Bulk discount is <%= discount.discount %>% off <%= discount.item_quantity %> items</b></p>
<p><%= link_to "Discount Information", "/merchant/#{@merchant.id}/discounts/#{discount.id}" %></p>
<p><%= button_to "Delete Discount", "/merchant/#{@merchant.id}/discounts/#{discount.id}", method: :delete %></p><br>
</div>
<% end %>

<%= link_to "New Discount", "/merchant/#{@merchant.id}/discounts/new" %>